<p></p>

<div *ngIf="data">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="text-primary">{{ data.title_ppal }}</h2>
    </div>

    <div class="col-12 text-center">
      <img
        *ngIf="data.what_images_test"
        width="300"
        class=""
        [src]="data.what_images_test[0].path_file"
        [alt]="data.what_images_test[0].summary"
      />
    </div>

    <div class="col-12">
      <h4 class="text-info">{{ data.test_title }}</h4>

      <p>{{ data.test_description }}</p>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-12 text-info">
      <h4>
        Articles
      </h4>
    </div>

    <div *ngFor="let article of data.articles_pymes_test">
      <div class="card" style="width: 18rem;margin: 0 20px 0 20px;">
        <img class="card-img-top" [src]="article.image" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ article.name }}</h5>
          <p class="card-text">{{ article.description }}</p>
        </div>
        <div class="card-body">
          <a [href]="article.url_article" class="card-link">Article link</a>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-12 text-info">
      <h4>
        Services
      </h4>
    </div>

    <div class="col-4">
      <div
        class="list-group"
        id="list-tab"
        role="tablist"
        *ngFor="let item of data.categories"
      >
        <a
          class="list-group-item list-group-item-action"
          (click)="selectCategory(item)"
          style="cursor: pointer;"
          role="tab"
          ><img width="100" [src]="item.icon" /> &nbsp; {{ item.name }}</a
        >
      </div>
    </div>

    <div class="col-8" *ngIf="categorySelect">
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane show active"
          role="tabpanel"
          aria-labelledby="list-home-list"
        >
          <div
            *ngFor="let ser of categorySelect.services"
            class="list-group-item"
          >
            <img width="100" [src]="ser.image" />
            <br />
            <h5 class="text-primary">{{ ser.name }}</h5>
            <div [innerHTML]="ser.summary"><div></div></div>
            <div>{{ ser.price | currency }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />

  <div class="col-10 offset-1">
    <div class="col-12 text-info text-center">
      <h4>
        {{ data.title_testimony }}
      </h4>
    </div>

    <div class="list-group">
      <div
        class="list-group-item flex-column align-items-start"
        *ngFor="let comment of data.testimony"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1 text-primary">{{ comment.title }}</h5>
          <small>{{ comment.name }}</small>
        </div>
        <p class="mb-1">{{ comment.text }}</p>
        <small class="text-secondary">{{ comment.service }}</small>
      </div>
    </div>
  </div>
</div>

<br />
<br />
