<h2 class="text-primary">Friends</h2>

<br>

<form #f="ngForm" class="form-inline" (ngSubmit)="saveFriend()">
  <div class="form-group mx-sm-3 mb-2">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      [(ngModel)]="model.firstName"
      placeholder=""
      required
    />
  </div>

  <div class="form-group mx-sm-3 mb-2">
    <label for="lastName">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      name="lastName"
      [(ngModel)]="model.lastName"
      placeholder=""
      required
    />
  </div>

  <div class="form-group mx-sm-3 mb-2">
    <label for="phone">Phone</label>
    <input
      type="number"
      class="form-control"
      id="phone"
      name="phone"
      [(ngModel)]="model.phone"
      placeholder=""
      required
    />
  </div>

  <button type="submit" [disabled]="!f.valid"   class="btn btn-primary">Add Friend</button>
</form>


<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of friends">
      <td>{{item.id}}</td>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.phone}}</td>
      <td><a role="button" class="text-primary" (click)="editFriend(item)">edit</a></td>
      <td><a role="button" class="text-danger" (click)="removeFriend(item)">remove</a></td>
    </tr>
  </tbody>
</table>
