<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" >
    <img src="https://cdn4.iconfinder.com/data/icons/system-ui-set/512/modern-latin-alphabet-letter-n-512.png" width="30" height="30" class="d-inline-block align-top" alt="">
    &nbsp;&nbsp; <b>Nivelics</b>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/friends">Friends</a>
      </li>
    </ul>
  </div>

</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
